body {
  background-image: url("images/AboutUsBack.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}
body:after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0.7, 0.5, 0.1, 0.1);
  pointer-events: none;
  background-blend-mode: darken;
  z-index: -1;
  position: relative;
}
header {
  background-color: #242424;
  color: white;
  padding: 5px;
  text-align: center;
}

h1 {
  margin: 0;
  text-align:center;
  font-size: 50px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
#about {
  color: white;
}
hr {
  height: 1px;
}
img {
  height: 300px;
}
#about {
  background-image: url("images/bg1.jpg");
}
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container h1 {
  justify-content: center;
  margin-left: 482px;
}
.about-col-1 img {
  border-radius: 15px;
}
.about-col-3 img {
  border-radius: 15px;
  height: -15px;
}
.aa {
  border: solid 4px white;
  display: inline-block;
  border-radius: 20px;
}

hr {
  margin: 1rem 0;
  color: inherit;
  height: 19px;
  border: 0;
  border-top: 9px solid;
  opacity: 1.25;
}
.about-col-2 h2 {
  color: rgb(148, 255, 81);
  text-decoration: underline;
  text-underline-position: under;
  text-align: center;
  padding: 20px;
}
.a {
  color: #a6ff46;
  margin-top: 13px;
  margin-bottom: -1.5rem;
}
.containerr {
  display: flex;
  flex-direction: row-reverse;
}
.detain {
  display: flex;
  flex-direction: row-reverse;
}
p{
  padding: 20px;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
}